body{
    background-image: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)),url("2.png");
    background-size: cover;
    text-align: justify;
}
h2 {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
}

.imgdesc {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.imgdesc2 {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.body-filter{
    background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
    margin: 90px;
}
.noir{
    color: black;
    opacity: 0.75;
}