.login {
    margin: auto;
    padding-top: 20%;
    text-align: center;

}

.form-label-login{
    font-size: 20px;
 
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),url("bg.png");
    background-size: cover;
}
.noir{

    color: black;
    opacity: 0.75;
}