.login {
    margin: auto;
    padding-top: 20%;
    text-align: center;

}

.form-label-login{
    font-size: 20px;
 
}
body{
    background-image: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)),url("2.png");
    background-size: cover;
}
.noir{

    color: black;
    opacity: 0.75;
}
.bg-primary{
    background-color: #11141a;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

h1, .h1{
   font-family: 'Kaushan Script';
}