{include file="../templates/structure.html" title="Accueil"}

      <section id="Acueil">
      <div class="row align-items-start">
          <div class="col">
              <br><br>
              <h1 class="text-center">Acueil : Acupunture CPE LYON</h1>
              <br>
          
          </div>
      </div>
      </section>

      <section id="Information"> <-- inforamtion sur Acupunture fonctionnement + image aiguille... section divisé en deux horizontalement -->
      <div class="row" >
          <div class="col">

          </div>
      </div>
      </section>

      <section id="Les bienfaits"> <-- Fond plein avec icon + compliment et raison de faire des scéances chez nous -->
      <div class="row" >
          <div class="col">

          </div>
      </div>
      </section>
      <section id="Nous trouver"> <-- Coordonée plus carte section divisé horizontalement -->
      <div class="row" >
          <div class="col">

          </div>
      </div>
      </section>

  </div>
</body>
</html>