{include file="../templates/structure.html" title="Consultation des pathologies"}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Code méridien</th>
        <th scope="col">Type</th>
        <th scope="col">Description de la pathologie</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td><span class="badge bg-light">Light</span></td>
        <td><span class="badge bg-primary">Primary</span></td>
        <td><span class="badge bg-primary">Primary</span></td>
      </tr>
    </tbody>
</table>