{include file="../templates/structure.html" title="Consultation des pathologies"}
    <div class="row">
        <div class="col">
            <br><br>
            <h1 class="text-center">Consultation des pathologies</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <form method="POST" action="./index.php?action=listepatho">
            <fieldset>
                <div class="form-group">
                    <div class="mb-3">
                        <label name="tag" class="noir" for="tag">Entrez un mot-clé</label>
                        <input type="text" class="form-control" id="tag" placeholder="{$tags}" name="tags">
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label name="Filtre des méridiens" for="filterMer" class="noir">Méridien</label>
                        <select class="form-select" id="filterMer" name="mers">
                            <option selected="selected" value="">Aucun filtre</option>
                            {$dmers}
                            {foreach from=$mers item=mer}
                                {if $dmers == $mer->code}
                                    <option selected="selected" value="{$mer->code}">{$mer->nom}</option>
                                {else}
                                    <option value="{$mer->code}">{$mer->nom}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label name="Filtre des pathologies" for="filterPathos" class="noir">Type de pathologie</label>
                        <select class="form-select" id="filterPathos" name="tpathos">
                            <option selected="selected" value="">Aucun filtre</option>
                            {$dtpathos}
                            {foreach from=$tpathos item=tpatho}
                                {if $dtpathos == $tpatho->type}
                                    <option selected="selected" value="{$tpatho->type}">{$tpatho->desc}</option>
                                {else}
                                    <option value="{$tpatho->type}">{$tpatho->desc}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>
                <br> 
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Filtrer</button>
                    <a href="./index.php?action=listepatho" class="btn btn-dark" type="button">Réinitialiser</a>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Code méridien</th>
                <th scope="col">Description de la pathologie</th>
              </tr>
            </thead>
            <tbody>
                {foreach from=$pathos item=patho}
                    <tr class="table-active">
                        <td><span class="badge bg-light">{$patho->nom}</span></td>
                        <td><span class="badge bg-primary">{$patho->desc}</span></td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>


    </div>
</body>
</html>