{include file="../templates/structure.html" title="Connectez-vous"}
    
    <section>
        <div class="row">
            <div class="col-sm my-4 text-center">
                <h1>Connexion</h1>
            </div>
        </div>
    </section>
    <section>
        <form method="POST" action="./index.php?action=postlogin">
            <fieldset> 
                <div class="form-group">
                    <div class="mb-3">
                        <label name="Adresse mail" class="noir" for="Email">Adresse mail</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Adresse mail" name="email_user">
                        <div class="invalid-feedback">Un email valide est requis.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label name="Mot de passe" class="noir" for="Password">Entrez votre mot de passe</label>
                        <input type="password" class="form-control" id="Password" placeholder="●●●●●●●●●" name="password_user">
                        <div class="invalid-feedback">Un mot de passe est requis.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Se connecter</button>
                </div>
            </fieldset>
        </form>
    </section>
{include file="../templates/structure-f.html"}