<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.php?action=accueil">Acuponcture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" href="index.php?action=accueil">Accueil
                <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=information">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=bienfaits">Les bienfaits</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="index.php?action=location">Nous trouver</a>
            </li>

        </ul>
        <div class="d-flex">
        <!-- Si Connecté -->

        {if 1 eq 0 }
            <a href="index.php?action=login">            
                <button name="Mon compte" class="btn btn-dark my-2 my-sm-2 mx-sm-1" type="button">{$nom}</button>
            </a>
            <a href="index.php?action=login">
                <button name="Déconnexion" class="btn btn-dark my-2 my-sm-2 mx-sm-1" type="button">Se déconnecter</button>
            </a>
        {else} 
            <a href="index.php?action=login">
                <button name="Connexion" class="btn btn-dark my-2 my-sm-2 mx-sm-1" type="button">Se connecter</button>
            </a>
            <a href="index.php?action=register">
             <button name="Inscription"class="btn btn-dark my-2 my-sm-2 mx-sm-1" type="button">S'incrire</button>
            </a>
        {/if}
        </div>
    </div>
    </div>
 </nav>